/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  background: url(assets/encendido-computadora-portatil-gris.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title figure {
  max-width: 350px;
  max-height: 350px;
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 5rem;
  border: 1.1px, solid blanchedalmond;
  -webkit-text-stroke: 1.5px black;
}
hr {
  color: aliceblue;
  width: 50%;
  margin: auto;
}
h3 {
  text-align: center;
  color: aliceblue;
  font-size: 2rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.about p{
    width: 80%;
    margin: auto;
    align-items: center;
}

.imskill{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: auto;
}

svg{
   vertical-align: auto; 
}
